@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

:root {
    --primary: #ff4d6d;
    --secondary: #2575fc;
}

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #0f0f14; }
::-webkit-scrollbar-thumb { background: #1f1f2e; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #ff4d6d; }

/* Subtle card float animation */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

.card-float {
    animation: float 4s ease-in-out infinite;
}
.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
body {
  cursor: url("https://cur.cursors-4u.net/cursors/cur-2/cur116.cur"), auto;
}



